<div class="back" routerLink="">
  <p>← back</p>
</div>
<app-menu>
  <app-menu-item imgSrc="/assets/photography/slovenia-menu.jpg" title="Slovenia"></app-menu-item>
  <app-menu-item imgSrc="/assets/photography/russia-menu.jpg" title="Russia"></app-menu-item>
  <app-menu-item imgSrc="/assets/photography/italia-menu.jpg" title="Italia"></app-menu-item>
  <app-menu-item imgSrc="/assets/photography/lapland-menu.jpg" title="Lapland"></app-menu-item>
  <app-menu-item imgSrc="/assets/photography/tallinn-menu.jpg" title="Tallinn"></app-menu-item>
</app-menu>
