<div #container id="aboutTypeContainer">
	<div id="textContainer">
			<h3 class="category">{{'about.categories.summary.title' | translate}}</h3>
				<div class="pop">
					<div class="subtitle">•	{{'about.categories.summary.sum1' | translate}}</div>
					<div class="subtitle">•	{{'about.categories.summary.sum2' | translate}}</div>
					<div class="subtitle">•	{{'about.categories.summary.sum3' | translate}}</div>
					<div class="subtitle">•	{{'about.categories.summary.sum4' | translate}}</div>
				</div>
				<h3 id="table-title" class="category">{{'about.categories.knowledge.title' | translate}}</h3>
				<div class="table-container pop">
					<table aria-describedby="table-title">
						<tr>
							<th scope="col">{{'about.categories.knowledge.header-language' | translate}}</th>
							<th scope="col">{{'about.categories.knowledge.header-tools' | translate}}</th>
							<th scope="col">{{'about.categories.knowledge.header-practices' | translate}}</th>
						</tr>
						<tr>
							<td>•	{{'about.categories.knowledge.language1' | translate}}</td>
							<td>•	{{'about.categories.knowledge.practices1' | translate}}</td>
							<td>•	{{'about.categories.knowledge.tools1' | translate}}</td>
						</tr>
						<tr>
							<td>•	{{'about.categories.knowledge.language2' | translate}}</td>
							<td>•	{{'about.categories.knowledge.practices2' | translate}}</td>
							<td>•	{{'about.categories.knowledge.tools2' | translate}}</td>
						</tr>
						<tr>
							<td>•	{{'about.categories.knowledge.language3' | translate}}</td>
							<td>•	{{'about.categories.knowledge.practices3' | translate}}</td>
							<td>•	{{'about.categories.knowledge.tools3' | translate}}</td>
						</tr>
						<tr>
							<td>•	{{'about.categories.knowledge.language4' | translate}}</td>
							<td>•	{{'about.categories.knowledge.practices4' | translate}}</td>
							<td>•	{{'about.categories.knowledge.tools4' | translate}}</td>
						</tr>
					</table>
				</div>	
			<h3 class="category">{{'about.categories.education' | translate}}</h3>
				<div class="title pop">
				<div class="job-container">
					<img class="title-logo" src="assets/about-me/icons/poly.png" alt="Polytechnique Montreal Logo">
					<div class="job"><h4>{{'about.2020.bachelor.job' | translate}}</h4><span>{{'about.2020.bachelor.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2020.bachelor.dates' | translate}}</span>
				</div>
					<div class="subtitle">{{'about.2020.bachelor.sub1' | translate}}</div>
				<div class="title pop">
				<div class="job-container">
					<img class="title-logo" src="assets/about-me/icons/kth.png" alt="KTH Royal Institute of Technology Logo">
					<div class="job"><h4>{{'about.2019.kth.job' | translate}}</h4><span>{{'about.2019.kth.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2019.kth.dates' | translate}}</span>
				</div>
					<div class="subtitle">{{'about.2019.kth.sub1' | translate}}</div>
				<div class="title pop">
				<div class="job-container">
					<img class="title-logo" src="assets/about-me/icons/maisonneuve.jpg" alt="Maisonneuve Logo">
					<div class="job"><h4>{{'about.2017.dec.job' | translate}}</h4><span>{{'about.2017.dec.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2017.dec.dates' | translate}}</span>
				</div>

			<h3 class="category">{{'about.categories.internships' | translate}}</h3>
				<div class="title pop">
				<div class="job-container">
					<img class="title-logo" src="assets/about-me/icons/ms.jpg" alt="Morgan Stanley Logo">
					<div class="job"><h4>{{'about.2020.ms-2.job' | translate}}</h4><span>{{'about.2020.ms-2.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2020.ms-2.dates' | translate}}</span>
				</div>
					<div class="subtitle">•	{{'about.2020.ms-2.sub1' | translate}}</div>
					<div class="subtitle">•	{{'about.2020.ms-2.sub2' | translate}}</div>
					<div class="subtitle">•	{{'about.2020.ms-2.sub3' | translate}}</div>
					<div class="subtitle">{{'about.techs' | translate}}<img src="assets/icons/tech/java.png" alt="Java"/><img src="assets/icons/tech/sybase.png" alt="Sybase">
						<img src="assets/icons/tech/jpa.png" alt="Java Persistence API"> <img src="assets/icons/tech/docker.png" alt="Docker">
						<img src="assets/icons/tech/jenkins.png" alt="Jenkins">{{'about.other-techs' | translate}}</div>
				<div class="title pop">
				<div class="job-container">
					<img class="title-logo" src="assets/about-me/icons/ms.jpg" alt="Morgan Stanley Logo">
					<div class="job"><h4>{{'about.2020.ms-1.job' | translate}}</h4><span>{{'about.2020.ms-1.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2020.ms-1.dates' | translate}}</span>
				</div>
					<div class="subtitle">•	{{'about.2020.ms-1.sub1' | translate}}</div>
					<div class="subtitle">•	{{'about.2020.ms-1.sub2' | translate}}</div>
					<div class="subtitle">•	{{'about.2020.ms-1.sub3' | translate}}</div>
					<div class="subtitle">{{'about.techs' | translate}}<img src="assets/icons/tech/java.png" alt="Java"/>
						<img src="assets/icons/tech/gradle.png" alt="Gradle"> <img src="assets/icons/tech/spring.png" alt="Spring Boot">
						<img src="assets/icons/tech/angular.png" alt="Angular"/> <img src="assets/icons/tech/ag-grid.png" alt="ag-Grid"/>
						<img src="assets/icons/tech/jira.png" alt="Jira"/></div>
				<div class="title pop">
				<div class="job-container">
					<img class="title-logo" src="assets/about-me/icons/ossim.jpg" alt="OSSimTech Logo">
					<div class="job"><h4>{{'about.2019.ossim.job' | translate}}</h4><span>{{'about.2019.ossim.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2019.ossim.dates' | translate}}</span>
				</div>
					<div class="subtitle">•	{{'about.2019.ossim.sub1' | translate}}</div>
					<div class="subtitle">•	{{'about.2019.ossim.sub2' | translate}}</div>
					<div class="subtitle">•	{{'about.2019.ossim.sub3' | translate}}</div>
					<div class="subtitle">{{'about.techs' | translate}}<img src="assets/icons/tech/c++.png" alt="C++"/>
						<img src="assets/icons/tech/postgresql.png" alt="PostgreSQL"/> <img src="assets/icons/tech/unreal.png" alt="Unreal Engine"/>
						<img src="assets/icons/tech/bitbucket.png" alt="Bitbucket"/> </div>
				<div class="title pop">
				<div class="job-container">
					<img class="title-logo" src="assets/about-me/icons/ubi.png" alt="Ubisoft Logo">
					<div class="job"><h4>{{'about.2017.ubi2.job' | translate}}</h4><span>{{'about.2017.ubi2.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2017.ubi2.dates' | translate}}</span>
				</div>
					<div class="subtitle">•	{{'about.2017.ubi2.sub1' | translate}}</div>
					<div class="subtitle">•	{{'about.2017.ubi2.sub2' | translate}}</div>
					<div class="subtitle">{{'about.techs' | translate}}<img src="assets/icons/tech/c-sharp.png" alt="C#"/>
						<img src="assets/icons/tech/svn.png" alt="SVN"/> <img src="assets/icons/tech/bugzilla.png" alt="Bugzilla"/> </div>
				<div class="title pop">
				<div class="job-container">
					<img class="title-logo" src="assets/about-me/icons/ubi.png" alt="Ubisoft Logo">
					<div class="job"><h4>{{'about.2017.ubi1.job' | translate}}</h4><span>{{'about.2017.ubi1.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2017.ubi1.dates' | translate}}</span>
				</div>
					<div class="subtitle">•	{{'about.2017.ubi1.sub1' | translate}}</div>

			<h3 class="category">{{'about.categories.awards' | translate}}</h3>
				<div class="title pop">
				<div class="job-container">
					<img class="title-logo" src="assets/about-me/icons/poly.png" alt="Polytechnique Montreal Logo">
					<div class="job"><h4>{{'about.2020.excellence.job' | translate}}</h4><span>{{'about.2020.excellence.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2020.excellence.dates' | translate}}</span>
				</div>
				<div class="title pop">
				<div class="job-container">
					<img class="title-logo" src="assets/about-me/icons/poly.png" alt="Polytechnique Montreal Logo">
					<div class="job"><h4>{{'about.2017.poly-admission.job' | translate}}</h4><span>{{'about.2017.poly-admission.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2017.poly-admission.dates' | translate}}</span>
				</div>
					<div class="subtitle">{{'about.2017.poly-admission.sub1' | translate}}</div>
				<div class="title pop">
				<div class="job-container">
					<img class="title-logo" src="assets/about-me/icons/maisonneuve.jpg" alt="Maisonneuve Logo">
					<div class="job"><h4>{{'about.2017.math-prize.job' | translate}}</h4><span>{{'about.2017.math-prize.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2017.math-prize.dates' | translate}}</span>
				</div>
					<div class="subtitle">{{'about.2017.math-prize.sub1' | translate}}</div>

			<h3 class="category">{{'about.categories.projects' | translate}}</h3>
				<div class="title pop">
				<div class="job-container">
					<img class="title-logo" src="assets/about-me/icons/site.png" alt="Personal Website Logo">
					<div class="job"><h4>{{'about.2020.perso-site.job' | translate}}</h4><span>{{'about.2020.perso-site.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2020.perso-site.dates' | translate}}</span>
				</div>
					<div class="subtitle">{{'about.techs' | translate}}<img src="assets/icons/tech/angular.png" alt="Angular"/></div>
				<div class="title pop">
				<div class="job-container">
					<img class="title-logo" src="assets/about-me/icons/mpfd.jpg" alt="SheetMusicOrganizer Logo">
					<div class="job"><h4>{{'about.2020.mpfd.job' | translate}}</h4><span>{{'about.2020.mpfd.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2020.mpfd.dates' | translate}}</span>
				</div>
					<div class="subtitle">{{'about.techs' | translate}}<img src="assets/icons/tech/net-core.png" alt=".Net Core"/>
						<img src="assets/icons/tech/wpf.png" alt="WPF"/> <img src="assets/icons/tech/c-sharp.png" alt="C#"/> </div>
				<div class="title pop">
				<div class="job-container">
					<em class="material-icons md-36">engineering</em>
					<div class="job"><h4>{{'about.2019.poly-proj2.job' | translate}}</h4><span>{{'about.2019.poly-proj2.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2019.poly-proj2.dates' | translate}}</span>
				</div>
					<div class="subtitle">•	{{'about.2019.poly-proj2.sub1' | translate}}</div>
					<div class="subtitle">•	{{'about.2019.poly-proj2.sub2' | translate}}</div>
					<div class="subtitle">•	{{'about.2019.poly-proj2.sub3' | translate}}</div>
					<div class="subtitle">{{'about.techs' | translate}}<img src="assets/icons/tech/angular.png" alt="Angular"/> <img src="assets/icons/tech/c-sharp.png" alt="C#"/>
						<img src="assets/icons/tech/mongodb.png" alt="mongoDB"/> </div>
				<div class="title pop">
				<div class="job-container">
					<em class="material-icons md-36">engineering</em>
					<div class="job"><h4>{{'about.2018.poly-proj1.job' | translate}}</h4><span>{{'about.2018.poly-proj1.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2018.poly-proj1.dates' | translate}}</span>
				</div>
					<div class="subtitle">•	{{'about.2018.poly-proj1.sub1' | translate}}</div>
					<div class="subtitle">•	{{'about.2018.poly-proj1.sub2' | translate}}</div>
					<div class="subtitle">{{'about.2018.poly-proj1.sub3' | translate}}</div>
				<div class="title pop">
				<div class="job-container">
					<em class="material-icons md-36">engineering</em>
					<div class="job"><h4>{{'about.2018.poly-chat.job' | translate}}</h4><span>{{'about.2018.poly-chat.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2018.poly-chat.dates' | translate}}</span>
				</div>
					<div class="subtitle">•	{{'about.2018.poly-chat.sub1' | translate}}</div>
					<div class="subtitle">{{'about.techs' | translate}}<img src="assets/icons/tech/html.png" alt="HTML"/> </div>
				<div class="title pop">
				<div class="job-container">
					<em class="material-icons md-36">engineering</em>
					<div class="job"><h4>{{'about.2017.roller.job' | translate}}</h4><span>{{'about.2017.roller.company' | translate}}</span></div>
				</div>
					<span class="date">{{'about.2017.roller.dates' | translate}}</span>
				</div>
					<div class="subtitle">•	{{'about.2017.roller.sub1' | translate}}</div>
					<div class="subtitle">{{'about.techs' | translate}}<img src="assets/icons/tech/java.png" alt="Java"/>
						<img src="assets/icons/tech/matlab.png" alt="Matlab"/></div>

						<h4 id="lastItem">{{'about.2016.end' | translate}}</h4>
	</div>
</div>
