table {
	border-collapse: collapse;
	margin: 10px auto 0 auto;

	th {
		padding: 10px 10px;
	}

	td {
	padding: 10px 10px;
		& + td {
			border-left: 2px solid var(--accent-color);
		}
	}
}

#aboutTypeContainer {
	display: flex;
	align-items: flex-start;
	background-color: var(--background-softer-color);
	background-image: linear-gradient(var(--background-softer-color) 99%, var(--background-color) 100%);
}

#labelContainer {
	position: absolute;
	top: 0;
	width: 100%;
}

#textContainer {
	display: inline-block;
	flex-grow: 1;
	margin-right: 15px;
	margin-left: 15px;
}

.title {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 55px;
	h4{
		margin-left: 0;
	}
	span{
		flex-grow: 1;
		text-align: right;
	}
}

.subtitle {
	margin-left: 12px;
	margin-top: 10px;
	font-size: larger;

	img {
		//background-color: white;
		height: 30px; //todo: resize the images to all be the same size to not have to do that
		width: 70px;
		object-fit: scale-down;
		margin-left: 5px;
		margin-right: 5px;
	}
}

.category {
	margin-left: 0;
	text-align: center;
	margin-top: 65px;
	margin-bottom: 0;
	font-size: 3rem;

	& + .title {
		margin-top: 10px;
	}

	& + .subtitle {
		margin-top: 20px;
	}
}

#lastItem {
	margin: 40px 0;
}
