
<div id="about-me-container">
	<img id="background-image" src="assets/about-me/background-code.png" alt="background"/>
	<div id="intro-container">
		<div id="portrait">
			<img src="assets/about-me/thats-me.jpg" alt="Portrait">
		</div>
		<div id="empty-space"></div>
		<div id="description">
			<h4>HI THERE!</h4>
			<h4 class="bold">I'M <span id="name">GUILHEM DUBOIS</span></h4>
			<p class="text">
				I'm currently in my final year of Software Enginnering at Polytechnique Montreal.<br>
				Although I'm still at the start of my career, I've already had the chance of working amongst multiple really talented teams at Morgan Stanley, Ubisoft and other companies.<br>
				I also had the great opportunity of studying abroad for a semester (at KTH Royal Institute of Technology in Stockholm, Sweden).<br>
				I'm always looking to make more contacts and make new experiences, be it software related or not.<br>
				BlaBlaBla this will change anyway.
			</p>
		</div>
	</div>
	<div id="contact-container">
		<p id="contact" class="text">
			You can download my CV here or look through the other tabs to see it organised in categories or chronologically.
			It's mostly the same information, simply different formats.
		</p>
		<div>
			<a href="assets/about-me/CV_Guilhem_Dubois_EN.pdf" download><p><img src="assets/icons/download.png" alt="download"/>DOWNLOAD CV</p></a>
		</div>
	</div>
	<p>
		Don't hesitate to contact me for any reason using the link given below or on any of my social medias!
	</p>
</div>
