
<div id="about-me-container">
	<img id="background-image" src="assets/about-me/background-code.png" alt="background"/>
	<div id="intro-container">
		<div id="portrait">
			<img src="assets/about-me/thats-me.jpg" alt="Portrait">
		</div>
		<div id="empty-space-separator"></div>
		<div id="description">
			<h4>HI THERE!</h4>
			<h4 class="bold">I'M <span id="name">GUILHEM DUBOIS</span></h4>
			<p class="text">
				I'm a developer and future software engineer based in Montreal - currently in my final year of Software Enginnering at Polytechnique Montreal.
			</p>
			<p class="text">
				Although I'm still at the start of my career, I've already had the chance of working amongst multiple really talented teams at <em>Morgan Stanley</em>, <em>Ubisoft</em> and other companies.
				I also had the great opportunity of studying abroad for a semester (at <em>KTH Royal Institute of Technology</em> in Stockholm, Sweden).<br>
			</p>
			<p class="text">
				On a personal note, I'm a huge movie buff and travel lover! I love being stable, but not being idle, so I keep striving to learn more and make new life experiences.
				I'm always open to meet new people and work on different projects, be it software related or not.
			</p>
			<div id="contact-container">
				<div>
					<a href="assets/about-me/CV_Guilhem_Dubois_EN.pdf" download><p><img src="assets/icons/download.png" alt="download"/>DOWNLOAD CV</p></a>
				</div>
				<p id="contact" class="text">
					You can download my CV here or look through the other tabs to see it organised in categories or chronologically.
					It's mostly the same information, simply different formats.
				</p>
			</div>
		</div>
		<div id="empty-space-right"></div>
	</div>
	<p class="end-text">
		Don't hesitate to reach out using the link given below or on any social media.
	</p>
</div>
