#about-page-container {
	background-color: var(--background-soft-color);
}

#title {
	margin-bottom: 20px;
}

#subtitle {
	margin-bottom: 40px;
}

#separator {
	margin: 0 10px;
	border-color: var(--accent-color)
}

#about-type-chooser {
	text-align: center;
}

.about-type-container {
	display: inline-block;
	cursor: pointer;
}

.about-type-container.selected {
	-moz-box-shadow:    inset 15px 15px 100px 0 black;
  -webkit-box-shadow: inset 15px 15px 100px 0 black;
  box-shadow:         inset 0 -15px 10px -15px var(--accent-color);
}

.about-type-container.selected .about-type-text {
	color: var(--accent-color);
}
