<div id="about-page-container">
	<app-back-button></app-back-button>
	<app-locale-selector></app-locale-selector>
	<div id="about-type-chooser">
		<div class="about-type-container" [ngClass]="{'selected': typeShown == aboutTypes.aboutMe}"
			(click)="this.typeShown = aboutTypes.aboutMe">
			<h4 class="about-type-text" i18n>About me</h4>
		</div>
		<div class="about-type-container" [ngClass]="{'selected': typeShown == aboutTypes.byCategory}"
			(click)="this.typeShown = aboutTypes.byCategory">
			<h4 class="about-type-text" i18n>By category</h4>
		</div>
		<div class="about-type-container" [ngClass]="{'selected': typeShown == aboutTypes.byDate}"
			(click)="this.typeShown = aboutTypes.byDate">
			<h4 class="about-type-text" i18n>By date</h4>
		</div>
	</div>
	<hr id="separator">
	<app-about-me-main *ngIf="typeShown == aboutTypes.aboutMe"></app-about-me-main>
	<app-about-me-type *ngIf="typeShown == aboutTypes.byCategory"></app-about-me-type>
	<app-about-me-date *ngIf="typeShown == aboutTypes.byDate"></app-about-me-date>
</div>
<app-footnotes></app-footnotes>
