#about-page-container {
	//margin-top: 25px;
	margin-bottom: 10px;
	width: auto;
	background-color: var(--background-softer-color);
	background-image: linear-gradient(var(--background-softer-color) 10%, var(--background-soft-color) 100%);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: relative;
	z-index: 0;

	&::before {
		content: "";
		background-image: url("/assets/about-me/background-code.png");
		background-position: right top;
		background-repeat: no-repeat;
		background-size: 500px 500px;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		z-index: -1;
	}
}

#background-image {
	position: absolute;
	top: 0;
	right: 0;
	width: 700px;
	height: 700px;
	max-width: 80vw;
	max-height: 80vw;
	opacity: 0.3;
	z-index: 1;
}

#title {
	text-align: right;
	//margin-left: 100px;
	margin-top: 0;
	margin-bottom: 20px;
	overflow-wrap: break-word;
}

#subtitle {
	text-align: right;
	margin-bottom: 40px;
	overflow-wrap: break-word;
}

#separator {
	width: 500px;
	margin: 0 auto;
	border-color: var(--accent-color);
	box-shadow: 0 2px 20px 1px var(--accent-color);
	z-index: 5;
	background-color: var(--accent-color);
	max-width: 90%;
}

#about-type-chooser {
	text-align: center;
	// background-color: var(--background-softer-color);
	padding-top: 15px;
	padding-bottom: 15px;
}

.about-type-container {
	display: inline-block;
	cursor: pointer;
	&:focus{
		outline: 0;
		text-shadow: 1px 1px 5px var(--primary-text-color);
	}
}

// .about-type-container.selected {
// 	-moz-box-shadow:    inset 15px 15px 100px 0 black;
// 	-webkit-box-shadow: inset 15px 15px 100px 0 black;
//  	box-shadow:         inset 0 -15px 10px -15px var(--accent-color), 0 6px 2px -4px var(--accent-color);
// }

.about-type-container.selected .about-type-text {
	color: var(--primary-text-color);
	text-shadow: 0 0 3px var(--primary-text-color);
}

@media only screen and (max-width: 900px) {
	#about-page-container {
		&::before {
			background-size: 350px 350px;
		}
	}
}

@media only screen and (max-width: 600px) {
	#about-page-container {
		&::before {
			background-position: right 64px;
		}
	}
	#separator {
		width: 300px;
	}

	h4 {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 360px) {
	#about-type-chooser {
		padding-top: 50px;
		&::before {
			background-size: 250px 250px;
		}
	}

	#about-page-container {
		background-position: right 99px;
	}
}