<div #container id="aboutDateContainer">
	<div #sliderContainer id="sliderContainer">
		<mat-slider #dateSlider id="dateSlider" [vertical]="true" [invert]="false"
		[min]=0 [max]=1 [step]=0.001 [disabled]="disabled"
		[value]="sliderValue" (input)="updateScrollPos($event.value)"></mat-slider>
		<div id="labelContainer" [style.top.px]="labelPos" [ngClass]="{'disabled': disabled}">
			<h4 #sliderLabel id="sliderLabelLeft" class="sliderLabel">20</h4>
			<h4 id="sliderLabelRight" class="sliderLabel">{{labelYear}}</h4>
		</div>
	</div>
	<div id="textContainer">
		<div #2020>
			<h3 class="year">2020</h3>
			<div class="title"><h4>Internship: Technology Part Time Analyst</h4><span>September 2020 - December 2020</span></div>
				<div class="subtitle">Morgan Stanley, Montreal</div>
				<div class="subtitle">•	Make a Java project available on docker (from the image creation to the deployment)</div>
				<div class="subtitle">•	Index a database using Hibernate Search (Lucene indexes) to add typeahead to a search feature</div>
				<div class="subtitle">•	Implement other functionalities in an asynchronous team-based approach using the Kanban methodology</div>
				<div class="subtitle">Technologies: <img src="assets/icons/tech/java.png" alt="Java"/><img src="assets/icons/tech/sybase.png" alt="Sybase">
					 <img src="assets/icons/tech/jpa.png" alt="Java Persistence API"> <img src="assets/icons/tech/docker.png" alt="Docker">
					 <img src="assets/icons/tech/jenkins.png" alt="Jenkins"> and other internal technologies...</div>
			<div class="title"><h4>Project: This website</h4><span>August 2020 - Now</span></div>
				<div class="subtitle">Personal project</div>
				<div class="subtitle">Technologies: <img src="assets/icons/tech/angular.png" alt="Angular"/></div>
			<div class="title"><h4>Internship: Technology Summer Analyst</h4><span>June 2020 - August 2020</span></div>
				<div class="subtitle">Morgan Stanley, Montreal</div>
				<div class="subtitle">•	Develop a Full Stack project using various DevOps tools and with an Agile approach</div>
				<div class="subtitle">•	Create a REST API backend accessing a database using Spring Data JPA (with Hibernate)</div>
				<div class="subtitle">•	Create an Angular frontend with an ag-Grid to display the data retrieved from the REST service</div>
				<div class="subtitle">Technologies: <img src="assets/icons/tech/java.png" alt="Java"/>
					<img src="assets/icons/tech/gradle.png" alt="Gradle"> <img src="assets/icons/tech/spring.png" alt="Spring Boot">
					<img src="assets/icons/tech/angular.png" alt="Angular"/> <img src="assets/icons/tech/ag-grid.png" alt="ag-Grid"/>
					<img src="assets/icons/tech/jira.png" alt="Jira"/></div>
			<div class="title"><h4>Project: SheetMusicOrganizer (WIP)</h4><span>March 2020 - Now</span></div>
				<div class="subtitle">Personal project</div>
				<div class="subtitle">Technologies: <img src="assets/icons/tech/net-core.png" alt=".Net Core"/>
					<img src="assets/icons/tech/wpf.png" alt="WPF"/> <img src="assets/icons/tech/c-sharp.png" alt="C#"/> </div>
			<div class="title"><h4>Bachelor's degree in Software Engineering</h4><span>2017 - Expected Graduation December 2021</span></div>
				<div class="subtitle">Polytechnique Montréal</div>
				<div class="subtitle">70 credits accumulated, Grading and Grade Point Averages (GPA) of 3,77/4,00</div>
			<div class="title"><h4>Mention of excellence from the General Director</h4><span>2020</span></div>
				<div class="subtitle">Polytechnique Montréal</div>
		</div>
		<div #2019>
			<h3 class="year">2019</h3>
			<div class="title"><h4>International exchange studies</h4><span>August 2019 - January 2020</span></div>
				<div class="subtitle">KTH Royal Institute of Technology, Stockholm (Sweden)</div>
				<div class="subtitle">Computer Science Master courses - English classes</div>
			<div class="title"><h4>Internship: Software Development Intern</h4><span>May 2019 - July 2019</span></div>
				<div class="subtitle">OSSimTech, Montreal</div>
				<div class="subtitle">•	Design a SQL database according to the requirements of the Research & Development team</div>
				<div class="subtitle">•	Create the database and migrate data considering performance and long-term maintenance</div>
				<div class="subtitle">•	Transfer and refactor Unreal blueprints to c++</div>
				<div class="subtitle">Technologies:  <img src="assets/icons/tech/c++.png" alt="C++"/>
					<img src="assets/icons/tech/postgresql.png" alt="PostgreSQL"/> <img src="assets/icons/tech/unreal.png" alt="Unreal Engine"/>
					<img src="assets/icons/tech/bitbucket.png" alt="Bitbucket"/> </div>
			<div class="title"><h4>Project: Web application with data management</h4><span>Winter 2019</span></div>
				<div class="subtitle">Second year team project at Polytechnique Montréal</div>
				<div class="subtitle">•	Design, develop and test an interactive web application (Front-end and Back-end)</div>
				<div class="subtitle">•	Use basic computer graphics and UI knowledge to make the site user friendly</div>
				<div class="subtitle">•	Save and recover user data from a NoSQL Database</div>
				<div class="subtitle">Technologies: <img src="assets/icons/tech/angular.png" alt="Angular"/> <img src="assets/icons/tech/c-sharp.png" alt="C#"/>
					<img src="assets/icons/tech/mongodb.png" alt="mongoDB"/> </div>
		</div>
		<div #2018>
			<h3 class="year">2018</h3>
			<div class="title"><h4>Project: Embedded system</h4><span>Winter 2018</span></div>
				<div class="subtitle">First year team project at Polytechnique Montréal</div>
				<div class="subtitle">•	Build a system containing software and hardware components from a microcontroller card</div>
				<div class="subtitle">•	Produce a complete computer system with inputs/outputs and external peripherals</div>
				<div class="subtitle">Technologies: AVR microcontroller and basic linux and shell scripting (Makefiles, GCC...)</div>
			<div class="title"><h4>Project: Development of a web chat application</h4><span>Autumn 2018</span></div>
				<div class="subtitle">Project at Polytechnique Montréal</div>
				<div class="subtitle">•	Develop an application communicating to a server through “Web Sockets” in HTML and CSS</div>
				<div class="subtitle">Technologies: <img src="assets/icons/tech/html.png" alt="HTML"/> </div>
		</div>
		<div #2017>
			<h3 class="year">2017</h3>
			<div class="title"><h4>Admission scholarship</h4><span>2017-2018</span></div>
				<div class="subtitle">Polytechnique Montréal</div>
				<div class="subtitle">Due to the academic level of excellence in college</div>
			<div class="title"><h4>Internship: Tools Programmer Intern</h4><span>June 2017 - July 2017</span></div>
				<div class="subtitle">Ubisoft, Montreal</div>
				<div class="subtitle">•	Create Smoke tests and unit tests in C# according to the needs of the Quality Assurance team</div>
				<div class="subtitle">•	Implement new functionalities while respecting the deadlines (sprints of two weeks)</div>
				<div class="subtitle">Technologies: <img src="assets/icons/tech/c-sharp.png" alt="C#"/>
					<img src="assets/icons/tech/svn.png" alt="SVN"/> <img src="assets/icons/tech/bugzilla.png" alt="Bugzilla"/> </div>
			<div class="title"><h4>College diploma in Computer Science and Mathematics</h4><span>2017</span></div>
				<div class="subtitle">Collège de Maisonneuve, Montreal</div>
			<div class="title"><h4>First prize from the collegial Department of Mathematics</h4><span>2017</span></div>
				<div class="subtitle">Collège de Maisonneuve, Montreal</div>
				<div class="subtitle">Highest average score for all the courses in mathematics - Cohort of 2015-2017</div>
			<div class="title"><h4>Project: Rollercoaster simulation</h4><span>Winter 2017</span></div>
				<div class="subtitle">Collegial final integration project at Collège de Maisonneuve</div>
				<div class="subtitle">•	Analyze, implement, and present the mathematical aspects related to the project</div>
				<div class="subtitle">Technologies: <img src="assets/icons/tech/java.png" alt="Java"/>
					<img src="assets/icons/tech/matlab.png" alt="Matlab"/></div>
		</div>
		<div #2016>
			<h3 class="year">2016 and before</h3>
			<div class="title"><h4>Internship: Tools Tester</h4><span>May 2016 - July 2016</span></div>
				<div class="subtitle">Ubisoft, Montreal</div>
				<div class="subtitle">•	Find and communicate bug reproduction steps to the development team</div>
			<div class="title"><h4>Internship:Data Collection Manager</h4><span>June 2013 - August 2013</span></div>
				<div class="subtitle">Usine C, Montreal</div>
				<div class="subtitle">•	Generate different graphs and statistics from data collected on customer satisfaction</div>
			<h4 id="lastItem">std::cout << “The End!” << std::endl;</h4>
		</div>
	</div>
</div>
