<div #container id="aboutDateContainer">
	<div #sliderContainer id="sliderContainer" [style.visibility.hidden]="disabled">
		<mat-slider #dateSlider id="dateSlider" [vertical]="true" [invert]="false"
		[min]=0 [max]=1 [step]=0.001 [disabled]="disabled"
		[value]="sliderValue" (input)="updateScrollPos($event.value)"></mat-slider>
		<div id="labelContainer" [style.top.px]="labelPos">
			<h4 #sliderLabel id="sliderLabelLeft" class="sliderLabel">20</h4>
			<h4 id="sliderLabelRight" class="sliderLabel">{{labelYear}}</h4>
		</div>
	</div>
	<div id="textContainer">
		<div #2020>
			<h3>2020</h3>
		</div>
		<div #2019>
			<h3>2019</h3>
		</div>
		<div #2018>
			<h3>2018</h3>
		</div>
		<div #2017>
			<h3>2017</h3>
		</div>
		<div #2016>
			<h3>2016 and before</h3>
		</div>
	</div>
</div>
