#aboutDateContainer {
	height: 6000px; //temp
	display: flex;
	align-items: flex-start;
	background-color: var(--background-softer-color);
}

#sliderContainer {
	margin: 30px 5px 10px 5px;
	position: sticky;
	top: 10px;
	width: 160px;
	display: inline-block;
	text-align: center;
}

#dateSlider {
	height: 80vh;
	margin-top: 7px;
	margin-bottom: 10px;
}

#dateSlider ::ng-deep .mat-slider-thumb-container,
#dateSlider ::ng-deep .mat-slider-track-background,
#dateSlider ::ng-deep .mat-slider-track-fill {
	transition: none !important;
}

#dateSlider.mat-slider-disabled ::ng-deep .mat-slider-track-fill{
	transform: translateY(0) !important;
	//background-color: var(--accent-color) !important;
}

#dateSlider ::ng-deep .mat-slider-thumb {
	visibility: hidden;
}

#labelContainer {
	position: absolute;
	top: 0;
	width: 100%;
}

#labelContainer:not(.disabled) {
	cursor: grab;
}

.sliderLabel {
	margin: 0;
	color: var(--hoverable-color);
	display: inline-block;
}

#labelContainer:hover .sliderLabel {
	color: var(--hovered-color);
}

#labelContainer.disabled .sliderLabel {
	color: var(--disabled-color);
}

#sliderLabelLeft {
	text-align: right;
	padding-right: 7px;
	width: calc(50% - 7px);
}

#sliderLabelRight {
	text-align: left;
	padding-left: 5px;
	width: calc(50% - 5px);
	left: 50%;
}

#textContainer {
	display: inline-block;
	flex-grow: 1;
}

.year {
	margin-left: 0;
	text-align: center;
	margin-top: 15px;
}

.title {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-top: 55px;
}

.title h4 {
	margin-left: 0;
}

.subtitle {
	margin-left: 12px;
	margin-top: 10px;
	font-size: larger;
}
