<button id="image-container" [routerLink]=route [ngClass]="{'small': smallItem}" class="transparent-button">
	<div id="text-container" [ngClass]="{'with-subtitle': !!subtitle}" class="hoverable">
		<h3 id="title">{{ title }}</h3>
		<h4 id="subtitle" *ngIf="!!subtitle">{{ subtitle }}</h4>
	</div>
	<picture>
		<source srcset="{{ imgSrc }}.webp" type="image/webp">
		<source srcset="{{ imgSrc }}.jpg" type="image/jpeg">
		<img id="menu-image" ngSrc="{{ imgSrc }}.jpg" alt="Menu Item" priority fill>
	</picture>
</button>
