vg-player {
	max-height: inherit;

	::ng-deep span  {
		all: unset !important;
	}
}

video {
	width: 100% !important;
	height: auto !important;
}

@media only screen and (max-width: 700px) {
	vg-volume {
		display: none;
	}
}
@media only screen and (max-width: 500px) {
	vg-time-display {
		display: none;
	}
}