.menu-container {
  margin: 0;
  background-color: black;
  height: 80rem;
}

.header {
  height: 20rem;
  position: relative;
}

.header h1{
  position: absolute;
}

.header h2{
  position: absolute;
  bottom: 0;
  right:0;
}
