<div class="header">
  <h1>Guilhem Dubois</h1>
  <h2>Portfolio</h2>
</div>
<div class="menu-container">
  <app-menu-item imgSrc="assets/menu-items/about-me.jpg" title="About Me" route="about-me"></app-menu-item>
  <app-menu-item imgSrc="assets/menu-items/sheet-music-organizer.jpg" title="Personal Projects" route="projects"></app-menu-item>
  <app-menu-item imgSrc="assets/menu-items/photography.jpg" title="Photography" route="photography"></app-menu-item>
</div>
<div class="footnotes">
  <a href="mailto: GuilhemDubois.mail@gmail.com" target="_blank" style="margin-right: auto;">GuilhemDubois.mail@gmail.com</a>
  <a href="https://www.instagram.com/guilhem.dubois/" target="_blank"><img src="assets/icons/insta_white_64.png"></a>
  <a href="https://www.linkedin.com/in/guilhem-dubois-mtl" target="_blank"><img src="assets/icons/li_white_64.png"></a>
  <a href="https://github.com/gudube" target="_blank"><img src="assets/icons/github_white_64.png"></a>
  <a href="https://www.facebook.com/GuilhemDuboisMtl/" target="_blank"><img src="assets/icons/fb_white_64.png"></a>
</div>
