
// todo: center
.menu-image {
  max-width: 100%;
  min-height: 100%;
  margin:0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.image-container {
  height: 30vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  cursor: pointer;
}

//Adds a shadow over the image
.image-container:after {
  content: "";
  position: absolute;
  width: 100%; height: 100%;
  left: 0; top: 0;
  -moz-box-shadow:    inset 15px 15px 100px 0 black;
  -webkit-box-shadow: inset 15px 15px 100px 0 black;
  box-shadow:         inset 15px 15px 100px 0 black;
  opacity: 0.7;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

//Removes the shadow when hovering over item
.image-container:hover:after {
  opacity: 0;
}

//Title on top of the item, centered
.title {
  z-index: 2;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;

  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

//Changes color of title when hovering item
.image-container:hover .title {
  color: white;
}
