#grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
	margin-left: 100px; //for large screens, when cell is max sized
	margin-right: 100px;
}

.background-grid {
	overflow: hidden;
}

#cell {
	height: 300px;
	width: 300px;
	min-width: 18vw;
	min-height: 18vw;
	margin: 20px;
}

#squareImgContainer {
	margin: 0 auto;
	height: 300px;
	width: 300px;
	min-width: 18vw;
	min-height: 18vw;

  overflow: hidden;
	cursor: pointer;
}

#squareImgContainer img {
	width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
