<full-image-viewer
	[(visible)]=showingFullImage
	[hasPreviousImage]=hasPreviousImage
	[hasNextImage]=hasNextImage
	(nextImage)="nextImage($event)">
</full-image-viewer>

<app-back-button route='/photography'></app-back-button>

<div id="view-selection">
	<span class="option hoverable" [ngClass]="{'selected': gridView}" (click)="gridView = true">Grid View</span>
	<span> / </span>
	<span class="option hoverable" [ngClass]="{'selected': !gridView}" (click)="gridView = false">List View</span>
</div>

<div id="grid-view" *ngIf="gridView" [ngClass]="{'background-grid': showingFullImage}">
	<div class="grid-cell" *ngFor="let imageFileName of album.photoFileNames; let index = index">
		<div class="square-img-container" (click)="selectImage(index)">
			<img src="assets/photography/{{album.id}}/sd/{{imageFileName}}" alt="photo: {{imageFileName}}">
		</div>
	</div>
</div>

<div id="list-view" *ngIf="!gridView" [ngClass]="{'background-list': showingFullImage}">
	<div class="list-element" *ngFor="let imageFileName of album.photoFileNames; let index = index">
		<img src="assets/photography/{{album.id}}/hd/{{imageFileName}}" alt="photo: {{imageFileName}}" (click)="selectImage(index)">
	</div>
</div>

<app-footnotes></app-footnotes>
