
#footnotes {
	width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	box-sizing: border-box;

	#contact-me {
		text-decoration: none;
		font-size: 1.4rem;
		opacity: var(--hoverable-opacity);
		@media (hover: hover) {
			&:hover{
				opacity: var(--hovered-opacity);
			}
		}
	}

	#copyright, #copyright span {
		color: var(--background-softer-color);
		font-size: 1em;
	}

	#icons-container {
		height: 100%;
		text-align: end;
		.image-container {
			&:not(:first-child){
				margin-left: 20px;
			}
			img {
				box-sizing: border-box;
				height: 32px;
				opacity: var(--hoverable-opacity);
				@media (hover: hover) {
					&:hover{
						opacity: var(--hovered-opacity);
					}
				}
			}
		}
	}

	#contact-me, #icons-container {
		flex-basis: 215px;
	}

	@media only screen and (max-width: 800px) {
		#copyright {
			flex-grow: 1;
			text-align: center;
			span {
				display: none;
			}
		}
		#contact-me, #icons-container {
			flex-basis: auto;
		}
	}

	@media only screen and (max-width: 450px) {
		#copyright {
			display: none;
		}
	}
}
