<div id="footnotes">
	<div id="text-container">
		<a id="contact-me" routerLink="/contact-me">Contact Me</a>
	</div>
	<div id="icons-container">
		<a class="image-container" href="https://www.instagram.com/guilhem.dubois/" target="_blank">
			<img src="assets/icons/insta_white_64.png" alt="Instagram"/>
		</a>
		<a class="image-container" href="https://www.linkedin.com/in/guilhem-dubois-mtl" target="_blank">
			<img src="assets/icons/li_white_64.png" alt="LinkedIn"/>
		</a>
		<a class="image-container" href="https://github.com/gudube" target="_blank">
			<img src="assets/icons/github_white_64.png" alt="GitHub"/>
		</a>
		<a class="image-container" href="https://www.facebook.com/GuilhemDuboisMtl/" target="_blank">
			<img src="assets/icons/fb_white_64.png" alt="Facebook"/>
		</a>
	</div>
</div>
