#footnotes {
  padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#footnotes img {
  //margin-top: 10px;
  //margin-bottom: 5px;
  box-sizing: border-box;
	height: 32px;
	opacity: var(--hoverable-opacity);
	&:hover{
		opacity: var(--hovered-opacity);
	}
}

.image-container {
  //margin-top: 10px;
  //margin-bottom: 10px;
	margin-left: 20px;
}

#text-container {
	flex-grow: 1;
}

#contact-me {
	opacity: var(--hoverable-opacity);
	&:hover{
		opacity: var(--hovered-opacity);
	}
	text-decoration: none;
	font-size: min(1.4rem, 5vw);
	margin-top: 5px;
	margin-bottom: 10px;
}

#footnotes #icons-container {
  height: 100%;
}
