<router-outlet></router-outlet>
<div id="footnotes">
	<a id="mail"
		href="mailto: GuilhemDubois.mail@gmail.com"
		target="_blank"
		>GuilhemDubois.mail@gmail.com</a
	>
	<div id="icons-container">
		<a class="image-container" href="https://www.instagram.com/guilhem.dubois/" target="_blank"
			><img src="assets/icons/insta_white_64.png"
		/></a>
		<a class="image-container" href="https://www.linkedin.com/in/guilhem-dubois-mtl" target="_blank"
			><img src="assets/icons/li_white_64.png"
		/></a>
		<a class="image-container" href="https://github.com/gudube" target="_blank"
			><img src="assets/icons/github_white_64.png"
		/></a>
		<a class="image-container" href="https://www.facebook.com/GuilhemDuboisMtl/" target="_blank"
			><img src="assets/icons/fb_white_64.png"
		/></a>
	</div>
</div>
