<router-outlet></router-outlet>
<div class="footnotes">
	<a
		href="mailto: GuilhemDubois.mail@gmail.com"
		target="_blank"
		style="margin-right: auto;"
		>GuilhemDubois.mail@gmail.com</a
	>
	<div class="icons-container">
		<a href="https://www.instagram.com/guilhem.dubois/" target="_blank"
			><img src="assets/icons/insta_white_64.png"
		/></a>
		<a href="https://www.linkedin.com/in/guilhem-dubois-mtl" target="_blank"
			><img src="assets/icons/li_white_64.png"
		/></a>
		<a href="https://github.com/gudube" target="_blank"
			><img src="assets/icons/github_white_64.png"
		/></a>
		<a href="https://www.facebook.com/GuilhemDuboisMtl/" target="_blank"
			><img src="assets/icons/fb_white_64.png"
		/></a>
	</div>
</div>
