#footnotes {
  height: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#footnotes img {
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  height: 36px;
}

#footnotes a {
  margin-top: 10px;
  margin-bottom: 10px;
  //height: 100%;
  margin-left: 20px;
  //text-align: center;
}

#footnotes #icons-container {
  height: 100%;
}
