<div id="menu-container" [ngClass]="{'light': light}">
	<button id="menu-button-container" class="transparent-button" (click)="opened = !opened">
		<em class="material-icons hoverable smooth-hover2" *ngIf="opened">close</em>
		<em class="material-icons hoverable smooth-hover2" *ngIf="!opened">menu</em>
	</button>
	<div id="menu" *ngIf="opened">
		<button *ngFor="let route of routes" class="route-container hoverable transparent-button" routerLink="/{{route.path}}">
			<p [ngClass]="{'current-route': ('/' + route.path) == currentRoute, 'sub-level1': route.data.personal.level == 1, 'sub-level2': route.data.personal.level > 1}">{{route.data.personal.titleId | translate}}</p>
		</button>
	</div>
</div>
<div id="up-arrow-container" [ngClass]="{'visible': showGoToTop}" (click)="scrollToTop()" tabindex="-1">
	<em id="up-arrow" class="material-icons hoverable smooth-hover2">expand_less</em>
</div>
