#back-button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  cursor: pointer;
  padding: 10px 15px 12px 10px;
  background-color: var(--background-color);
  border-radius: 0 0 10px 0;
  border-color: grey;
  border-width: 0 1px 1px 0;
  border-style: dashed;
}

#back-text {
	font-size: 1.3rem;
	color: var(--hoverable-color);
}

#back-button:hover #back-text {
	color: var(--hovered-color);
}
