#menu-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 10px 15px 12px 10px;
  background-color: var(--background-soft-color);
  border-radius: 0 0 10px 0;
  border-color: var(--foreground-softer-color);
  border-width: 0 2px 2px 0;
  border-style:solid;
  &.light {
  	background-color: var(--foreground-softer-color);
  	border-color: var(--background-color);
  }

	#menu-button-container {
		cursor: pointer;
		&:focus {
			outline: 0;
			text-shadow: 1px 1px 5px var(--readable-text-color);
		}
	}

	#menu {
		.route-container {
			cursor: pointer;
			font-size: 0.8em;
			margin: 15px;
			.current-route {
				color: var(--accent-color)
			}
			.sub-level {
				margin-left: 15px;
			}
			&:focus {
				outline: 0;
				text-shadow: 1px 1px 5px var(--readable-text-color);
			}
		}
	}
}

#up-arrow-container{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	padding: 10px;
	visibility: collapse;
	opacity: 0;
	transition: visibility 0s 0.5s, opacity 0.5s 0s;

	&.visible{
		visibility: visible;
		opacity: 1;
		transition: visibility 0s, opacity 0.5s;
	}
}
