.back-button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  cursor: pointer;
  padding: 10px 15px 12px 10px;
  background-color: black;
  //box-shadow: 0 0 10px 0 rgb(77, 77, 77);
  border-radius: 0 0 10px 0;
  border-color: white;
  border-width: 0 2px 2px 0;
  border-style: dashed;
}

.back-text {
  font-size: 1.3rem;
}
