<app-back-button></app-back-button>
<div id="header" #header>
	<!-- <img id="background-image" src="assets/project/hd/background75.jpg"> -->
	<div id="title-container">
		<h2 id="title">Sheet Music Organizer</h2>
		<h3 id="subtitle">The music player that sync with your sheet music!</h3>
		<div id="buttons-container">
			<div id="download-button" class="button disabled">
				<a><p>v0.1b AVAILABLE SOON!</p></a>
			</div>
			<div class="button" (click)="scrollToBottom(header)">
				<a><p>EXPLORE FEATURES</p></a>
			</div>
		</div>
	</div>
</div>
<div id="content" #content>
	<div id="view-selection">
		<span class="option hoverable" [ngClass]="{'selected': libraryView}" (click)="libraryView = true">Library View</span>
		<span> / </span>
		<span class="option hoverable" [ngClass]="{'selected': !libraryView}" (click)="libraryView = false">Partition View</span>
	</div>
	<div id="subtitles-container">
		<p [ngClass]="{'visible': libraryView}">Organize your songs</p>
		<p [ngClass]="{'visible': !libraryView}">Practice with the partition synced to the song</p>
	</div>
	<div id="screenshots-container">
		<img [ngClass]="{'visible': libraryView}" src="/assets/project/library-view.png"/>
		<img [ngClass]="{'visible': !libraryView}" src="/assets/project/partition-view.png"/>
	</div>
</div>