<app-back-button></app-back-button>
<div id="page-content">
<div id="header" #header>
	<!-- <img id="background-image" src="assets/project/hd/background75.jpg"> -->
	<div id="title-container">
		<h2 id="title">{{'project.title' | translate}}</h2>
		<h3 id="subtitle">{{'project.subtitle' | translate}}</h3>
		<div id="buttons-container">
			<div id="download-button-container">
				<div id="download-button" class="button">
					<a href="https://github.com/gudube/SheetMusicOrganizer/releases/download/v0.1.1/SheetMusicOrganizer_0.1.1.zip" download>
						<p class="hoverable smooth-hover2">{{'project.download' | translate}}</p>
					</a>
				</div>
				<p class="version-text">{{'project.version' | translate}}</p>
			</div>
			<div class="button" (click)="scrollToBottom(header)">
				<a><p class="hoverable smooth-hover2">{{'project.features' | translate}}</p></a>
			</div>
		</div>
	</div>
</div>
<div id="content" #content>
	<div id="view-selection">
		<span class="option hoverable" [ngClass]="{'selected': libraryView}" (click)="libraryView = true">{{'project.library-view' | translate}}</span>
		<span> / </span>
		<span class="option hoverable" [ngClass]="{'selected': !libraryView}" (click)="libraryView = false">{{'project.partition-view' | translate}}</span>
	</div>
	<div id="view-description">
		<p [ngClass]="{'visible': libraryView}"><span class="accent">{{'project.organize1' | translate}}</span>{{'project.organize2' | translate}}</p>
		<p [ngClass]="{'visible': !libraryView}"><span class="accent">{{'project.practice1' | translate}}</span>{{'project.practice2' | translate}}</p>
	</div>
	<div id="screenshots-container">
		<picture [ngClass]="{'visible': libraryView}">
			<source media="(max-width: 900px)" type="image/svg+xml" srcset="/assets/project/{{'lang-code' | translate}}/library-view-mobile.svg"/>
			<source media="(max-width: 900px)" srcset="/assets/project/{{'lang-code' | translate}}/library-view-mobile.png"/>
			<source srcset="/assets/project/{{'lang-code' | translate}}/library-view.svg"/>
			<img src="/assets/project/{{'lang-code' | translate}}/library-view.png" alt="Library view"/>
		</picture>
		<picture [ngClass]="{'visible': !libraryView}">
			<source media="(max-width: 900px)" type="image/svg+xml" srcset="/assets/project/{{'lang-code' | translate}}/partition-view-mobile.svg"/>
			<source media="(max-width: 900px)" srcset="/assets/project/{{'lang-code' | translate}}/partition-view-mobile.png"/>
			<source srcset="/assets/project/{{'lang-code' | translate}}/partition-view.svg"/>
			<img src="/assets/project/{{'lang-code' | translate}}/partition-view.png" alt="Partition view"/>
		</picture>
	</div>
	<div id="more-info">
		<a href="https://github.com/gudube/SheetMusicOrganizer/releases" target="_blank" rel="noopener" >
			<p class="hoverable smooth-hover2">{{'project.github-releases' | translate}}</p>
		</a>
		<a href="https://github.com/gudube/SheetMusicOrganizer" target="_blank" rel="noopener" >
			<p class="hoverable smooth-hover2">{{'project.github-code' | translate}}</p>
		</a>
	</div>
</div>
</div>