<div class="header">
	<h1>Guilhem Dubois</h1>
	<h2>Portfolio</h2>
</div>
<app-menu>
	<app-menu-item [smallItem]="true"
		imgSrc="assets/menu-items/about-me"
		title="About Me"
		route="/about-me"
	></app-menu-item>
	<!-- todo: rename project -->
	<app-menu-item [smallItem]="true"
		imgSrc="assets/menu-items/sheet-music-organizer"
		title="Personal Project"
		subtitle="Sheet Music Organizer"
		route="/project"
	></app-menu-item>
	<app-menu-item [smallItem]="true"
		imgSrc="assets/menu-items/photography"
		title="Photography"
		route="/photography"
	></app-menu-item>
</app-menu>
