@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* You can add global styles to this file, and also import other style files */

//Default variables
:root {
  --primary-text-color: white;
  --readable-text-color: #b3b3b3;
  --background-color: black;
  --background-soft-color: #0e1111;
  --background-softer-color: #191d1d;
	--accent-color: #00BCD4;
	--hoverable-color: #BDBDBD;
	--hovered-color: white;
	--disabled-color: rgba(255, 255, 255, 0.3);

	--hoverable-opacity: 0.6;
	--hovered-opacity: 1;
}

body {
  margin:0;
  padding: 0;
  background-color: var(--background-color);
}

h1, h2, h3, h4, a, p, span, div {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  line-height: 0.9em;
}

a, p, span {
  font-weight: 300;
	font-size: 1.5em;
	margin: 0;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 10px;
}

h1 {
  font-weight: 300;
  font-size: 9.5em;
}

h2 {
  font-weight: 100;
  font-size: 6em;
}

h3 {
  font-weight: 100;
  font-size: 4em;
}

h4 {
  font-weight: 100;
  font-size: 2em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
