/* You can add global styles to this file, and also import other style files */

//Default variables
:root {
  --primary-text-color: white;
  --readable-text-color: #c9c9c9;
  --background-color: black;
  --background-soft-color: #0f1214;
  --background-softer-color: #191c1d;
	--accent-color: #00BCD4;
	--accent-color-rgb: 0, 188, 212; //can do rgba(var(--accent-color-rgb), 0.2) for example
	--hoverable-color: #BDBDBD;
	--hovered-color: white;
	--disabled-color: rgba(255, 255, 255, 0.3);

	--hoverable-opacity: 0.6;
	--hovered-opacity: 1;
}

body {
  margin:0;
  padding: 0;
  background-color: var(--background-color);
}

h1, h2, h3, h4, a, p, span, div {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  line-height: 0.9em;
}

a, p, span {
  font-weight: 300;
	font-size: 1.5em;
	margin: 0;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 10px;
}

h1 {
  font-weight: 300;
  font-size: 9.5em;
}

h2 {
  font-weight: 100;
  font-size: 6em;
}

h3 {
  font-weight: 100;
  font-size: 4em;
}

h4 {
  font-weight: 100;
  font-size: 2em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Material icons
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons { color: var(--hovered-color); }
.material-icons.md-inactive { color: var(--disabled-color) }

.hoverable {
	cursor: pointer;
	color: var(--hoverable-color);
	p, h2, h3, h4, span {
		color: inherit;
	}
	svg {
		fill: var(--hoverable-color);
	}
	img {
		opacity: var(--hoverable-opacity);
	}
	@media (hover: hover) {
		color: var(--hoverable-color);
		p, h2, h3, h4, span {
			color: inherit;
		}
		svg {
			fill: var(--hoverable-color);
		}
		img {
			opacity: var(--hoverable-opacity);
		}
		&:hover {
			color: var(--hovered-color);
			svg {
				fill: var(--hovered-color)
			}
			img {
				opacity: var(--hovered-opacity);
			}
		}
	}
}

.smooth-hover {
	@media (hover: hover) {
		&.hoverable{
			transition: color 0.3s;
		}
		&.hoverable-opacity {
			transition: opacity 0.3s;
		}
	}
}
