@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* You can add global styles to this file, and also import other style files */

//Default color variables
:root {
  --primary-text-color: white;
  --background-color: black;
  --background-soft-color: #0e1111;
	--accent-color: rgb(113, 221, 221); // used to be darker: rgb(112, 182, 182);
	--hoverable-color: #BDBDBD;
	--hovered-color: white;
}

body {
  margin:0;
  padding: 0;
  background-color: var(--background-color);
}

h1, h2, h3, h4, a, p, span, div {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  line-height: 0.9em;
}

a, p, span {
  font-weight: 300;
	font-size: 1.5rem;
	margin: 0;
}

h1, h2, h3, h4 {
  margin: 10px;
}

h1 {
  font-weight: 300;
  font-size: 9.5rem;
}

h2 {
  font-weight: 100;
  font-size: 6rem;
}

h3 {
  font-weight: 100;
  font-size: 4rem;
}

h4 {
  font-weight: 100;
  font-size: 2rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
