<div class="controls" *ngIf="visible">
	<p (click)="switchHd()" 	style="text-align: right;">{{hd ? 'HD' : 'SD'}}</p>
	<p (click)="zoom($event)" style="text-align: center;"
			[style.visibility]="hd ? 'visible' : 'hidden'">{{zoomed ? '-' : '+'}}</p>
	<p (click)="hide()"				style="text-align: left;">X</p>
</div>
<div class="fullImgContainer" (click)="hide()" *ngIf="visible" [ngClass]="{'zoomedContainer': zoomed}">
	<img src="{{hd ? hdImgSrc : sdImgSrc}}" (click)="zoom($event)" [ngClass]="{'zoomedImg': zoomed, 'unzoomedImg': !zoomed}">
</div>
