<div id="controls" *ngIf="visible">
	<p (click)="switchHd()" 	style="text-align: right;">{{hd ? 'HD' : 'SD'}}</p>
	<p (click)="zoom($event)" style="text-align: center;"
			[style.visibility]="hd ? 'visible' : 'hidden'">{{(zoomedHeightOverflow || zoomedWidthOverflow) ? '-' : '+'}}</p>
	<p (click)="hide()"				style="text-align: left;">X</p>
</div>
<div #fullImgContainer id="fullImgContainer" (click)="hide()" *ngIf="visible"
	[ngClass]="{'zoomedHeightOverflowContainer': zoomedHeightOverflow, 'zoomedWidthOverflowContainer': zoomedWidthOverflow,
		'unzoomedContainer': (!zoomedWidthOverflow && !zoomedHeightOverflow)}"
	(swipeLeft)="swipe(true)" (swipeRight)="swipe(false)">
	<img src="{{hd ? hdImgSrc : sdImgSrc}}" (click)="zoom($event)"
		[ngClass]="{'zoomedWidthOverflowImg': zoomedWidthOverflow, 'zoomedHeightOverflowImg': zoomedHeightOverflow,
		'unzoomedImg': (!zoomedWidthOverflow && !zoomedHeightOverflow)}">
</div>
