#fullImgContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.85);
	z-index: 5;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 20px;
	padding-left: 20px;
	//padding: 40px;
	box-sizing: border-box;
}

.unzoomedContainer{
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.zoomedHeightOverflowContainer {
	overflow-y: scroll;
	overflow-x: hidden;
}

.zoomedWidthOverflowContainer {
	overflow-x: scroll;
	overflow-y: hidden;
	touch-action: pan-x !important;
}

#fullImgContainer img {
	object-position: center;
	-webkit-box-shadow: 0 0 49px 20px rgba(0,0,0,1);
	-moz-box-shadow: 0 0 49px 20px rgba(0,0,0,1);
	box-shadow: 0 0 49px 20px rgba(0,0,0,1);
}

.zoomedHeightOverflowImg {
	width: 100%;
	height: auto;
}

.zoomedWidthOverflowImg {
	width: auto;
	height: 100%;
}

.unzoomedImg {
	vertical-align: middle;
	width: 100%;
  height: 100%;
  object-fit: contain;
}

#controls {
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,0.35);
	z-index: 10;
	padding: 10px;
	display: inline-block;
	border-radius: 0 0 0 10px;

	p {
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
		padding-left: 5px;
		padding-right: 5px;
		min-width: 15px;
		text-align: left;
		cursor: pointer;
		color: var(--hoverable-color);
		&:hover {
			color: var(--hovered-color);
		}
	}

	.selectedRes {
		color: var(--hovered-color)
	}
}

#loadingSpinner {
	position: absolute;
	width: 10px;
	top: 50vh;
	left: 50vw;
	z-index: 20;
	margin-left: -50px;
	margin-top: -50px;
}

.arrowContainer {
	visibility: collapse;
}

//todo: find a better way of using arrows on touchscreen
@media (hover: hover){
	.arrowContainer {
		height: 90px;
		width: 50px;
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		z-index: 9;
		text-align: center;
		background-color: rgba(0,0,0,0.35);
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		visibility: visible;
	}

	.arrowContainer:hover svg {
		fill: var(--hovered-color);
	}

	svg {
		fill:var(--hoverable-color);
		height: 40px;
		width: 20px;
	}
}
