<div id="contact-page-container">
	<app-back-button></app-back-button>
	<h2 id="title" i18n>Contact Me</h2>
	<hr id="separator">
	<div id="form-container">
		<form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
			<div class="form-group">
				<div class="label">
					<label for="Fullname" i18n>Full Name</label>
					<p class="required">*</p>
				</div>
				<input type="text" class="form-control" name="Fullname" formControlName="Fullname">
			</div>
			<div class="form-group">
				<div class="label">
					<label for="Email" i18n>Email</label>
					<p class="required">*</p>
				</div>
				<input type="email" class="form-control" name="Email" aria-describedby="emailHelp" formControlName="Email">
				<div *ngIf="EmailControl.invalid && (EmailControl.dirty || EmailControl.touched)" class="warning">
					<div *ngIf="EmailControl.errors.email" i18n>Invalid email format.</div>
				</div>
			</div>
			<div class="form-group">
				<div class="label">
					<label for="Message" i18n>Message</label>
					<p class="required">*</p>
				</div>
				<textarea class="form-control" formControlName="Message" name="Message">
				</textarea>
			</div>
			<span id="pre-submit-message" i18n>Once submitted, you will be redirected to Google Captcha.</span>
			<div id="button-container">
				<button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Submit</button>
			</div>
		</form>
		<div id="social-media-container">
			<p id="social-media-message" i18n>You can also reach me through social media:</p>
			<div id="icons-container">
				<a class="image-container" href="https://www.instagram.com/guilhem.dubois/" target="_blank">
					<img src="assets/icons/insta_white_64.png" alt="Instagram"/>
				</a>
				<a class="image-container" href="https://www.linkedin.com/in/guilhem-dubois-mtl" target="_blank">
					<img src="assets/icons/li_white_64.png" alt="LinkedIn"/>
				</a>
				<a class="image-container" href="https://github.com/gudube" target="_blank">
					<img src="assets/icons/github_white_64.png" alt="GitHub"/>
				</a>
				<a class="image-container" href="https://www.facebook.com/GuilhemDuboisMtl/" target="_blank">
					<img src="assets/icons/fb_white_64.png" alt="Facebook"/>
				</a>
			</div>
		</div>
	</div>
</div>
